.head{
    color: rgb(115, 35, 190);
    text-align: center;
    font-size: 300%;
    
}

.par{
    color: deeppink;
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 150%;


}

.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}